/*body {
    background-color: #999;
}*/

/* importando a fonte Poppins do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* coloca todas as cores aqui, assim posso editar direto em um lugar so*/
:root {
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    /*extra*/
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;
}

/* zerando as configuracoes originais do navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

/* 16px e o valor base/referencia das fontes */
/* quando usar "rem" nas outras coisas o 1 vai ser o 16px*/
html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

/* barra fixa*/
/* fixa no topo, ocupando a largura toda */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /*border: solid 1px var(--color-02); /* test */
}


/* menu hamburguer */
.menu-hamburguer {
    display: none;
    cursor: pointer;
}

/* barrinhas do burguer menu */
.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

/* movimento das barras p formar o X */
.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}


/* eu cologo o . pq essa classe foi eu que inventei*/
/* o header, body, html, ja sao padrao*/
.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

/* barra responsiva */
.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);    
}

/*padding vertical 0.5/horizontal 1*/
.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
    /* border: solid 1px var(--color-02); /* test */
}

.nav a:hover, .nav-responsive a:hover {
    color: var(--main-color);
}

/* padding cima 6/ lado 6/ baixo 2/ (no outro lado ele vai copiar o 6)*/
section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
    /* border: solid 1px var(--color-02); /*test*/
}

/* muda a cor de tudo que eu coloquei como span no html*/
span {
    color: var(--main-color);
}

/* configuracoes das classes inicio e sobre */
.inicio, .sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* configuracoes das classes inicio-img e sobre-img */
/* a imagem vai ocupar % do container e o container 100% do tamanho da pagina*/
.inicio-img img, .sobre-img img{
    width: 100%;
}

/* configuracoes das classes inicio-content e sobre-content */
/* o texto ocupa % do container */
.inicio-content, .sobre-content{
    width: 45%;
}

/* fonts h1 do inicio*/
.inicio-content h1, .sobre-content h1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.7rem; /*test*/
}

/* fontes h3 do inicio*/
.inicio-content h3, .sobre-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

/* caixa texto inicio */
.inicio-content p, .sobre-content p {
    margin-top: 1.2rem;
    text-align: justify;
}


/* redes sociais */
.social-media img {
    width: 3.3rem;
}

/* icones das redes sociais */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

/* hover icones redes sociais */
.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--main-color);
}


/* configuracoes dos titulos*/
.habilidades h2,
.portfolio h2,
.contato h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* propriedades gerais*/
.habilidades-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* propriedades das caixas BOX */
.habilidades-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}

/* propriedades comuns a todos */
.habilidades-container, .habilidades-box {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01); /*test*/
}

.habilidades-box {
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
}

/* propriedades comuns do hover */
.habilidades-container, .habilidades-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

/* propriedades dos icones*/
.habilidades-box i {
    font-size: 2.5rem;
    color: var(--main-color);
}

/* propriedade do h3 titulo */
.habilidades-box h3 {
    font-size: 1.5rem;
}

/* propriedades paragrafo */
.habilidades-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    /* n linhas ... */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* secao do portfolio*/
.portfolio-container {
    display: grid;
    gap: 1.2rem;
}

/* caixas projetos */
.portfolio-box {
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
}

/* imagens */
.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

/* ZOOM quando hover na imagem*/
.portfolio-box img:hover {
    transform: scale(1.1);
}

/* caixa imagens e o texto */
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--color-03));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(30rem);
    transition: 0.5s ease;
}

/* texto imagens e hover */
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

/* titulo texto foto */
.portfolio-layer h4 {
    font-size: 1.8rem;
}

/* titulo paragrafo foto */
.portfolio-layer p {
    margin: 0.2rem 0 0.5rem;
}

/* bolinha do link externo */
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

/* icone link externo */
.portfolio-layer a i {
    font-size: 1.2rem;
    color: var(--bg-color-02);
}


/*formulario */
form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input-box input,
form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

form textarea {
    resize: none;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}


/* todos os botoes*/
.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

/* quando hover nos botoes*/
.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}



/* -----media queries----- */
/* mudancas de acordo com o tamanho da tela */

/* celular (portrait) XS */
@media (min-width: 0px) {
    .menu-hamburguer {
        display: block;
    }

    .nav {
        display: none;
    }

    /* barra responsiva */
    .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem;
    }

    section {
        padding: 6rem 2.5rem;
    }

    /* p a imagem ficar abaixo do texto */
    .inicio, .sobre {
        flex-direction: column;
        gap: 1.2rem;
    }

    .inicio-img, .sobre-img {
        width: 90%;
        max-width: 90%;
    }

    .inicio-content, .sobre-content {
        width: 100%;
    }

    .inicio-content div {
        text-align: center;
    }

    .inicio-content h1, .sobre-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    /* habilidades */
    .habilidades-container {
        flex-direction: column;
        align-items: center;
    }

    .habilidades-box {
        width: 100%;
    }

    header {
        background-color: var(--color-01); /*test */
    }
}

/* celular (landscape) XS */
@media (min-width: 576px) {
    .inicio-img, .sobre-img {
        width: 90%;
        max-width: 90%;
    }

    .habilidades-box {
        width: 100%;
    }

    header {
        background-color: var(--bg-color-02); /*test*/
    }

}

/* tablet M */
@media (min-width: 768px) {
    .menu-hamburguer {
        display: none;
    }

    .nav {
        display: block;
    }

    .nav-responsive, .nav-responsive a {
        display: none;
    }

    .inicio, .sobre {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .inicio-img, .sobre-img {
        max-width: 85%;
    }

    .inicio-content, .sobre-content {
        width: 85%;
    }

    .habilidades-box {
        width: 60%;
        margin-bottom: 2rem;
    }

    .portfolio-container {
        grid-template-columns: auto auto;
    }

    form .input-box input {
        width: 49%;
    }

    header {
        background-color: var(--color-03); /*test*/
    }
}

/* notebook L */
@media (min-width: 992px) {

    header {
        background-color: var(--color-02); /*test*/
    }
}

/* desktop XL */
@media (min-width: 1200px) {
.inicio-img, .sobre-img {
    max-width: 85%;
}

.inicio-content h1 {
    font-size: 2.7rem;
}

.inicio-content h3 {
    font-size: 2rem;
}

.portfolio-container {
    grid-template-columns: 4 4 4 4;
}

    header {
        background-color: var(--color-01); /*test*/
    }
}







